.jumbotron {
    background-image: linear-gradient(to right, #007bff,#000);
    color: #fff;
    padding: 5% 7%;
    
}

.course-edit {
    padding-left: 2%;

}


.button-edit {
    position: absolute;
    right: 8%;

}

.button1-edit {
    position: absolute;
    left: 90%;
    

}